In [46]:
import pandas as pd
import numpy as np
import random

In [109]:
survey = pd.read_csv("survey.csv", encoding = "euc-kr")
survey.head()

  name  Q1  Q2  Q3  Q4  Q5
0  고은빈   1   4   4   1   3
1  고태영   1   4   2   3   2
2  김동규   2   4   4   2   3
3  김민지   1   4   1   4   3
4  김병찬   1   5   2   4   3

In [11]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
name    38 non-null object
Q1      38 non-null int64
Q2      38 non-null int64
Q3      38 non-null int64
Q4      38 non-null int64
Q5      38 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.9+ KB

## Q1. 소속 학과
 - 1 : 통계학과
 - 2 : 통계 이중전공 또는 부전공
 - 3 : 타학과

In [13]:
survey.Q1.value_counts()

1    31
2     6
3     1
Name: Q1, dtype: int64

## Q2. 학년
 - 1 : 1학년
 - 2 : 2학년
 - 3 : 3학년
 - 4 : 4학년
 - 5 : 5학년
 
 - 3, 4학년만 구분

In [14]:
survey.Q2.value_counts()

4    32
3     5
5     1
Name: Q2, dtype: int64

## Q3. 데이터마이닝 수업 수강여부
 - 1 : 데이터마이닝1 수강
 - 2 : 데이터마이닝1, 2 수강
 - 3 : 데이터마이닝 2 수강
 - 4 : 수강안함

In [15]:
survey.Q3.value_counts()

4    22
1     8
3     5
2     3
Name: Q3, dtype: int64

## Q4. 파이썬 숙련도
 - 1 : 써본 적이 없습니다.
 - 2 : 조금
 - 3 : 과제 수행 경험
 - 4 : 많이 써봤습니다.

In [17]:
survey.Q4.value_counts()

2    15
1    13
4     6
3     4
Name: Q4, dtype: int64

## Q5. R 숙련도
 - 1 : 써본적이 없습니다.
 - 2 : 조금
 - 3 : 과제하면서 써봤습니다.
 - 4 : 많이 써봤습니다.

In [18]:
survey.Q5.value_counts()

3    26
2     9
4     2
1     1
Name: Q5, dtype: int64

1. 통계학과 / 그 외 : 31 / 7
2. 3 / 4+ : 5 / 33

In [36]:
survey[survey["Q1"] != 1]

   name  Q1  Q2  Q3  Q4  Q5
2   김동규   2   4   4   2   3
17  오혜린   2   4   4   1   3
26  전은재   2   3   4   1   2
27  정명진   2   4   4   4   3
29  정영주   2   4   4   4   3
33  지윤영   3   4   4   2   3
36  하혜진   2   4   3   2   2

In [21]:
survey[survey["Q2"] == 3]

   name  Q1  Q2  Q3  Q4  Q5
5   김성관   1   3   3   3   3
7   김중훈   1   3   3   1   1
20  이동진   1   3   4   2   3
25  임양강   1   3   1   2   2
26  전은재   2   3   4   1   2

In [25]:
students = list(survey["name"])

In [28]:
a = list(survey[survey["Q1"] != 1]["name"])

In [29]:
students = [ele for ele in students if ele not in a]

In [30]:
len(students)

31

## 팀 편성 알고리즘(8조)
 - Q3(데이터마이닝 수강여부) 또한 객관적인 답변이라 생각하여 고려요건에 포함
 - 교수님 의견에 따라 Q3 제외 여부 결정

1. 타과 학생들 7명을 한 조씩 배정
2. 3학년 학생들 중 1명을 나머지 한조에 넣고 나머지 3명을 랜덤 배정
 - 타과 & 3학년 1명(전은재)
3. 남은 학생들 중 데이터마이닝 수강하지 않은 학생들 랜덤 배정
4. 남은 학생들 중 데이터마이닝 수강한 학생들 랜덤 배정

In [44]:
a = list(survey[survey["Q2"] == 3]["name"])

In [ ]:
def team_select(survey):
    students = list(survey["name"])
    team_name = ["Team 1 : ", "Team 2 : ", "Team 3 : ", "Team 4 : ", 
                 "Team 5 : ", "Team 6 : ", "Team 7 : ", "Team 8 : "]
    
    #1
    not_stat = list(survey[survey["Q1"] != 1]["name"])
    students = [ele for ele in students if ele not in not_stat]
    not_senior = list(survey[survey["Q2"] == 3])

In [67]:
indexNames = survey[survey['Q1'] != 1 ].index
survey.drop(indexNames , inplace=True)

In [68]:
survey.shape

(31, 6)

In [66]:
survey[survey['Q1'] != 1 ].index

Int64Index([2, 17, 26, 27, 29, 33, 36], dtype='int64')

In [65]:
list(np.random.choice(students, 2))

['노소영', '보아란']

In [70]:
list(survey[survey["Q3"] == 4]["name"])

['고은빈',
 '김진우',
 '노소영',
 '박유환',
 '박주형',
 '손면호',
 '송지영',
 '윤지현',
 '윤채원',
 '이동진',
 '이수민',
 '정민경',
 '정철환',
 '조성근',
 '조형래',
 '황재원']

In [72]:
not_stat = list(survey[survey["Q1"] != 1]["name"])
indexNames = survey[survey['Q1'] != 1 ].index
survey.drop(indexNames , inplace=True)

In [73]:
not_senior = list(survey[survey["Q2"] == 3]["name"])
indexNames = survey[survey["Q2"] == 3].index
survey.drop(indexNames , inplace=True)

In [74]:
datamining = list(survey[survey["Q3"] == 4]["name"])
indexNames = survey[survey["Q3"] == 4].index
survey.drop(indexNames , inplace=True)

In [75]:
last = list(survey["name"])

In [93]:
len(last
   )

12

In [76]:
len(not_stat) + len(not_senior) + len(datamining) + len(last)

38

In [83]:
np.random.choice(not_stat,len(not_stat), replace = False )

array(['하혜진', '지윤영', '김동규', '오혜린', '전은재', '정명진', '정영주'], dtype='<U3')

In [87]:
shuffle1 = np.random.choice(not_stat,len(not_stat), replace = False )
shuffle2 = np.random.choice(not_senior,len(not_senior), replace = False )
shuffle3 = np.random.choice(datamining,len(datamining), replace = False )
shuffle4 = np.random.choice(last,len(last), replace = False )

In [90]:
str(shuffle1[0]) + " " + str(shuffle2[0])+" "+ " ".join(shuffle3[:2])

'지윤영 김성관 노소영 조형래'

In [110]:
def team_select():
    
    #1
    not_stat = list(survey[survey["Q1"] != 1]["name"])
    indexNames = survey[survey['Q1'] != 1 ].index
    survey.drop(indexNames, inplace=True)
    
    #2
    not_senior = list(survey[survey["Q2"] == 3]["name"])
    indexNames = survey[survey["Q2"] == 3].index
    survey.drop(indexNames, inplace=True)
    
    #3
    datamining = list(survey[survey["Q3"] == 4]["name"])
    indexNames = survey[survey["Q3"] == 4].index
    survey.drop(indexNames, inplace=True)
    
    #4
    last = list(survey["name"])
    
    
    # shuffle by group
    shuffle1 = np.random.choice(not_stat,len(not_stat), replace = False )
    shuffle2 = np.random.choice(not_senior,len(not_senior), replace = False )
    shuffle3 = np.random.choice(datamining,len(datamining), replace = False )
    shuffle4 = np.random.choice(last,len(last), replace = False )
    
    
    # Team
    
    str1 = str(shuffle1[0]) + " " + str(shuffle2[0])+" "+ shuffle3[0] + " " + " ".join(shuffle4[:2])
    str2 = str(shuffle1[1]) + " " + str(shuffle2[1])+" "+ shuffle3[1] + " " + " ".join(shuffle4[2:4])
    str3 = str(shuffle1[2]) + " " + str(shuffle2[2])+" "+ shuffle3[2] + " " + " ".join(shuffle4[4:6])
    
    str4 = str(shuffle1[3]) + " " + " ".join(shuffle3[3:5]) + " "+ " ".join(shuffle4[6:8])
    
    str5 = str(shuffle1[4]) + " " + " ".join(shuffle3[5:7]) + " "+ shuffle4[8]
    str6 = str(shuffle1[5]) + " " + " ".join(shuffle3[7:9]) + " "+ shuffle4[9]
    
    str7 = str(shuffle1[6]) + " " + " ".join(shuffle3[9:12]) + " "+ shuffle4[10]
    str8 = str(shuffle2[3]) + " " + " ".join(shuffle3[12:15]) + " "+ shuffle4[11]
    
    str_set = [str1, str2, str3, str4, str5, str6, str7, str8]
    
    
    # shuffle team order
    
    team_name = ["Team 1 : ", "Team 2 : ", "Team 3 : ", "Team 4 : ", 
                 "Team 5 : ", "Team 6 : ", "Team 7 : ", "Team 8 : "]
    str_set2 = []
    team_name = np.random.choice(team_name, len(team_name), replace = False)
    idx1 = 0
    for items in str_set : 
        items = items.split()
        items = np.random.choice(items,len(items), replace = False )
        str_set2.append( str(team_name[idx1]) + " ".join(items) )
        idx1 += 1
        
    str_set2 = np.random.choice(str_set2,len(str_set2), replace = False )
    str_print = '\n'.join(str_set2)
    print(str_print)

In [121]:
survey = pd.read_csv("survey.csv", encoding = "euc-kr")

team_select()

Team 7 : 최수연 박유환 조성근 정영주
Team 6 : 고은빈 보아란 정명진 이호연 황재원
Team 2 : 박주형 성민지 이유나 김동규 임양강
Team 3 : 김민지 김진우 오혜린 김중훈 이세령
Team 5 : 이동진 하혜진 배형준 고태영 조형래
Team 4 : 김수완 지윤영 정철환 정민경 손면호
Team 1 : 김병찬 이수민 윤지현 노소영 김성관
Team 8 : 전은재 송지영 천정희 윤채원