In [1]:
str1 = """권채원 김나린 김다운 김백승 김수빈 김수연 김수현 김시현 김원석 김창우 문정현 박관열 박수연 서기태 양성원 원혜진 이영 이은희 이재용 전효범 정상욱 정찬휘"""

In [2]:
nms = str1.split()

In [3]:
nms

['권채원',
 '김나린',
 '김다운',
 '김백승',
 '김수빈',
 '김수연',
 '김수현',
 '김시현',
 '김원석',
 '김창우',
 '문정현',
 '박관열',
 '박수연',
 '서기태',
 '양성원',
 '원혜진',
 '이영',
 '이은희',
 '이재용',
 '전효범',
 '정상욱',
 '정찬휘']

In [4]:
import numpy as np
nms = np.array(nms)

## 지도교수님이 딥러닝 연구

In [5]:
nms1 = [ '원혜진', '박관열', '정찬휘',  '김나린', '이은경', '임형준', '문정현', '김수연', '김수빈', '김백승']

## 타과 학생들

In [6]:
nms2 = [ '권채원', '양성원']

## 기타 학생들

In [7]:
nms3 = list(set(nms) - set(nms1) - set(nms2) )

In [9]:
len(nms3)

12

## 팀편성 알고리즘

팀편성 목표: 지도교수님 딥러닝 연구하는 학생들 2명씩 5팀 편성  
기타학생들 12명 3,3,2,2,2 로 편성  
4명인 조 중 2조에 타과학생들 한명씩 편성

### 랜덤하게 명단 섞기

In [67]:
nm_shuffle1 = np.random.choice(nms1,len(nms1), replace = False )
nm_shuffle2 = np.random.choice(nms2,len(nms2), replace = False )
nm_shuffle3 = np.random.choice(nms3,len(nms3), replace = False )

In [56]:
nm_shuffle1

array(['이은경', '김나린', '정찬휘', '원혜진', '임형준', '문정현', '박관열', '김수연', '김수빈',
       '김백승'], dtype='<U3')

In [57]:
nm_shuffle2

array(['권채원', '양성원'], dtype='<U3')

In [58]:
nm_shuffle3

array(['김수현', '김원석', '서기태', '전효범', '박수연', '김시현', '정상욱', '이재용', '김창우',
       '이은희', '이영', '김다운'], dtype='<U3')

In [59]:
str_set = []
#str_set.append(str1)
for i in range(5) :
    if i < 2 :
        str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + nm_shuffle2[i] + " " + " ".join(nm_shuffle3[(2*i):(2*(i+1))])
        str_set.append(str_tmp)
    elif i == 2 :
        str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + " ".join(nm_shuffle3[(2*i):(2*(i+1))])
        str_set.append(str_tmp)
    elif i == 3 :
        str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + " ".join(nm_shuffle3[[6,7,8]])
        str_set.append(str_tmp)
    elif i == 4 :
        str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + " ".join(nm_shuffle3[[9,10,11]])
        str_set.append(str_tmp)

str_set

['이은경 김나린 권채원 김수현 김원석',
 '정찬휘 원혜진 양성원 서기태 전효범',
 '임형준 문정현 박수연 김시현',
 '박관열 김수연 정상욱 이재용 김창우',
 '김수빈 김백승 이은희 이영 김다운']

In [60]:
def team_select() :
    nm_shuffle1 = np.random.choice(nms1,len(nms1), replace = False )
    nm_shuffle2 = np.random.choice(nms2,len(nms2), replace = False )
    nm_shuffle3 = np.random.choice(nms3,len(nms3), replace = False )
    
    str_set = []
    #str_set.append(str1)
    for i in range(5) :
        if i < 2 :
            str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + nm_shuffle2[i] + " " + " ".join(nm_shuffle3[(2*i):(2*(i+1))])
            str_set.append(str_tmp)
        elif i == 2 :
            str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + " ".join(nm_shuffle3[(2*i):(2*(i+1))])
            str_set.append(str_tmp)
        elif i == 3 :
            str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + " ".join(nm_shuffle3[[6,7,8]])
            str_set.append(str_tmp)
        elif i == 4 :
            str_tmp = " ".join(nm_shuffle1[(2*i):(2*(i+1))]) + " " + " ".join(nm_shuffle3[[9,10,11]])
            str_set.append(str_tmp)

    
    team_names = ['망아지팀: ', '햄스터팀: ', '강아지팀: ', '병아리팀: ', '송아지팀: ']
    
    str_set2 = []
    team_names = np.random.choice(team_names, len(team_names), replace = False)
    idx1 = 0
    for items in str_set : 
        items = items.split()
        items = np.random.choice(items,len(items), replace = False )
        str_set2.append( str(team_names[idx1]) + " ".join(items) )
        idx1 += 1
        
    str_set2 = np.random.choice(str_set2,len(str_set2), replace = False )
    str_print = '\n'.join(str_set2)
    print(str_print)

In [75]:
team_select()

햄스터팀: 원혜진 김수연 김다운 박수연 권채원
송아지팀: 김수현 양성원 정상욱 문정현 박관열
강아지팀: 임형준 서기태 김시현 김나린 이재용
병아리팀: 김수빈 이영 정찬휘 전효범 이은희
망아지팀: 김창우 김백승 김원석 이은경