In [4]:
str1 = """권채원 김나린 김다운 김백승 김수빈 김수연 김수현 김시현 김원석 김창우 문정현 박관열 박수연 서기태 양성원 원혜진 이영 이은희 이재용 전효범 정상욱 정찬휘"""

In [5]:
nms = str1.split()

In [6]:
nms

['권채원',
 '김나린',
 '김다운',
 '김백승',
 '김수빈',
 '김수연',
 '김수현',
 '김시현',
 '김원석',
 '김창우',
 '문정현',
 '박관열',
 '박수연',
 '서기태',
 '양성원',
 '원혜진',
 '이영',
 '이은희',
 '이재용',
 '전효범',
 '정상욱',
 '정찬휘']

In [7]:
import numpy as np
nms = np.array(nms)

In [8]:
len(nms)

22

## 지도교수님이 딥러닝 연구

In [9]:
nms1 = [ '원혜진', '박관열', '정찬휘',  '김나린', '문정현', '김수연', '김수빈', '김백승', '이재용']  # 2 2 2 2 1

## 타과 학생들

In [10]:
nms2 = [ '권채원', '양성원']

## 기타 학생들

In [11]:
nms3 = list(set(nms) - set(nms1) - set(nms2) )

In [13]:
len(nms3) + len(nms2) + len(nms1)

22

## 팀편성 알고리즘

팀편성 목표:  
랜덤하게 팀을 구성하되 아래의 조건에서 다시뽑기  
 - 지도교수님 딥러닝 연구하는 학생들이 3명이상 한팀이상이면 
 - 타과생 2명이 같은 편이면

In [33]:
shuffled = nm_shuffle = np.random.choice(nms,len(nms), replace = False )

In [36]:
team = [shuffled[:4], shuffled[4:8], shuffled[8:12], shuffled[12:17], shuffled[17:] ]
team

[array(['박수연', '김나린', '김수빈', '이영'], dtype='<U3'),
 array(['권채원', '양성원', '서기태', '김시현'], dtype='<U3'),
 array(['원혜진', '박관열', '김창우', '김수연'], dtype='<U3'),
 array(['전효범', '김다운', '정상욱', '김수현', '이재용'], dtype='<U3'),
 array(['문정현', '김원석', '이은희', '정찬휘', '김백승'], dtype='<U3')]

In [53]:
for i in range(10) :
  re = 0
  for ar in team :
    print("Checking team:{}".format(ar))
    count_nm2 = 0  ## nm2 그룹 2명이상이면 다시
    for nm in nms2 :
      if nm in ar :
        count_nm2 += 1
    count_nm1 = 0   ## nm1 그룹 3명 이상이면 다시
    for nm in nms1 :
      if nm in ar :
        count_nm1 += 1
    print("nm1:{}, nm2:{}".format(count_nm1, count_nm2))

    if (count_nm2 >= 2 or count_nm1 >= 3) :
      re = 1 
      print("break rule")
      break;
  if re==1 :
    print("rebuild")
    shuffled = nm_shuffle = np.random.choice(nms,len(nms), replace = False )
    team = [shuffled[:4], shuffled[4:8], shuffled[8:12], shuffled[12:17], shuffled[17:] ]
  else :
    print("done")
    break

Checking team:['정상욱' '김원석' '정찬휘' '권채원']
nm1:1, nm2:1
Checking team:['김백승' '문정현' '이은희' '김수빈']
nm1:3, nm2:0
break rule
rebuild
Checking team:['정찬휘' '양성원' '정상욱' '김시현']
nm1:1, nm2:1
Checking team:['김백승' '김창우' '김수현' '원혜진']
nm1:2, nm2:0
Checking team:['박수연' '문정현' '김다운' '김수연']
nm1:2, nm2:0
Checking team:['이은희' '권채원' '김나린' '서기태' '김수빈']
nm1:2, nm2:1
Checking team:['박관열' '이영' '김원석' '이재용' '전효범']
nm1:2, nm2:0
done

In [64]:
shuffled = nm_shuffle = np.random.choice(nms,len(nms), replace = False )
team = [shuffled[:4], shuffled[4:8], shuffled[8:12], shuffled[12:17], shuffled[17:] ]

for i in range(10) :
  re = 0
  for ar in team :
#    print("Checking team:{}".format(ar))
    count_nm2 = 0  ## nm2 그룹 2명이상이면 다시
    for nm in nms2 :
      if nm in ar :
        count_nm2 += 1
    count_nm1 = 0   ## nm1 그룹 3명 이상이면 다시
    for nm in nms1 :
      if nm in ar :
        count_nm1 += 1
#    print("nm1:{}, nm2:{}".format(count_nm1, count_nm2))

    if (count_nm2 >= 2 or count_nm1 >= 3) :
      re = 1 
#      print("break rule")
      break;
  if re==1 :
#    print("rebuild")
    shuffled = nm_shuffle = np.random.choice(nms,len(nms), replace = False )
    team = [shuffled[:4], shuffled[4:8], shuffled[8:12], shuffled[12:17], shuffled[17:] ]
  else :
#    print("done")
    break

print("{}번 시도함.".format(i))
team

5번 시도함.

[array(['김시현', '김수현', '이재용', '문정현'], dtype='<U3'),
 array(['김다운', '박관열', '박수연', '정찬휘'], dtype='<U3'),
 array(['이은희', '원혜진', '양성원', '김수연'], dtype='<U3'),
 array(['김수빈', '정상욱', '김창우', '서기태', '김백승'], dtype='<U3'),
 array(['이영', '전효범', '권채원', '김나린', '김원석'], dtype='<U3')]

In [73]:
def team_select(n_try = 100) : 
  shuffled = nm_shuffle = np.random.choice(nms,len(nms), replace = False )
  team = [shuffled[:4], shuffled[4:8], shuffled[8:12], shuffled[12:17], shuffled[17:] ]

  for i in range(n_try) :
    re = 0
    for ar in team :
  #    print("Checking team:{}".format(ar))
      count_nm2 = 0  ## nm2 그룹 2명이상이면 다시
      for nm in nms2 :
        if nm in ar :
          count_nm2 += 1
      count_nm1 = 0   ## nm1 그룹 3명 이상이면 다시
      for nm in nms1 :
        if nm in ar :
          count_nm1 += 1
  #    print("nm1:{}, nm2:{}".format(count_nm1, count_nm2))

      if (count_nm2 >= 2 or count_nm1 >= 3) :
        re = 1 
  #      print("break rule")
        break;
    if re==1 :
  #    print("rebuild")
      shuffled = nm_shuffle = np.random.choice(nms,len(nms), replace = False )
      team = [shuffled[:4], shuffled[4:8], shuffled[8:12], shuffled[12:17], shuffled[17:] ]
    else :
  #    print("done")
      break

  print("{}번 시도함.".format(i))
#  print(team)
  return team

In [74]:
team = team_select()
team

6번 시도함.

[array(['김창우', '원혜진', '전효범', '문정현'], dtype='<U3'),
 array(['권채원', '박관열', '김나린', '김수현'], dtype='<U3'),
 array(['양성원', '김수빈', '이은희', '박수연'], dtype='<U3'),
 array(['김다운', '정찬휘', '김백승', '김시현', '서기태'], dtype='<U3'),
 array(['김원석', '이영', '정상욱', '김수연', '이재용'], dtype='<U3')]